header {
    background-color: black;
    color: white;

    text-align: center;
}

header h1 {
    padding-top: 50px;

    /*text-transform: uppercase;*/
    font-variant: small-caps;
}

header p {
    padding-bottom: 50px;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}